# This is an example enviroment file. 
# Replace the variables below with your environment values and then rename this file to `.env`.

# This is the URL for the MongoDB database.
# The value that is set as example is the URL for the dev database created by the `docker-compose.yml` file.
DATABASE_URL="mongodb://root:prisma@localhost:27017/prisma-mongo?authSource=admin&retryWrites=true&w=majority"